<p id="notice"><%= notice %></p>

<h1>Owners</h1>

<%= link_to '全件ダウンロード', download_owners_path %>

<div class = "index_table" id = "index_table" >

  <%= render 'index_table', owners: @owners %>

</div>


<br>

<%= link_to 'New Owner', new_owner_path %>
